[Unit]
Description=Real-time monitor and web admin for Celery distributed task queue
After=network.target

[Service]
User=ubuntu
Group=ubuntu
PrivateDevices=Yes
WorkingDirectory=/opt/ppp
ExecStart=/home/ubuntu/.virtualenvs/ppp/bin/flower -A celery_example --port=5555 --address='*'

[Install]
WantedBy=multi-user.target
